body {
    background-color: rgb(11, 11, 11);
    color: white;
    font-family: 'Roboto', sans-serif;
}

a {
    color: cyan;
}

.box {
    background-color: black;
    border-style: solid;
    border-radius: 10px;
    color: white;
    width: 400px;
    height: auto;
    margin: auto;
    margin-top: 10%;
    text-align: center;
    padding: 10px;
}

.aboutme {
    background-color: rgb(60, 0, 0);
    border-color: red;
    border-style: solid;
    border-radius: 10px;
    color: white;
    width: 600px;
    height: auto;
    margin-left: 10%;
    margin-top: 10%;
    margin-right: 10%;
    text-align: center;
    padding: 10px;
    float: left;
    line-height: 120%;
    
}

.newsblock {
    background-color: rgb(60, 0, 0);
    border-color: red;
    border-style: solid;
    border-radius: 10px;
    color: white;
    width: 300px;
    height: auto;
    margin-right: 10%;
    margin-top: 10%;
    text-align: center;
    padding: 10px;
    float: right;
    
}

.pfp {
    float: left;
    margin: 10px;
}

.topbar {
    width:inherit;
    height: auto;
    padding: 10px;
    background-color: black;
    border-color: white;
    border-bottom: solid;
    text-align: center;
    margin: -8px;
}

.newsblockinternal {
    text-align: center;

}