body {
    background-color: rgb(11, 11, 11);
    color: white;
    font-family: 'Roboto', sans-serif;
}

a {
    color: cyan;
}

.topbar {
    width:inherit;
    height: auto;
    padding: 10px;
    background-color: black;
    border-color: white;
    border-bottom: solid;
    text-align: center;
    margin: -8px;
}

.discord {
    background-color:#36393e;
    border-color: #5865F2;
    border-style: solid;
    border-radius: 10px;
    color: white;
    width: 400px;
    height: auto;
    margin: auto;
    margin-top: 5%;
    text-align: center;
    padding: 10px;
}

.discord a {
    color: #1e9dfc;
}

.reddit {
    background-color:#1a1a1b;
    border-color: #ff4500;
    border-style: solid;
    border-radius: 10px;
    color: white;
    width: 400px;
    height: auto;
    margin: auto;
    margin-top: 5%;
    text-align: center;
    padding: 10px;
}

.reddit a {
    color: #4fbcff;
}