body {
    background-image: url("arona.gif");
    cursor: url("gdnormal.webp"), auto;
    color: black;
    font-family: 'Georgia', serif;
    text-align: center;
    font-size:200%;
}

a {
    color: red;
}

h1 {
    color: red;
}

.box {
    color: black;
    height: auto;
    margin: auto;
    text-align: center;
}
